<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="/css/record_habit.css">
  <title>Record Detail Habit</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</head>

<body>
  <div id="chartContainer">
    <canvas id="habitChart"></canvas>
    <br>
  </div>

  <% let totalProgress=0; let numFinish=0; habit.occurrences.forEach(occurrence=>{
    totalProgress += occurrence.progress;
    if(occurrence.status === 'finish'){
    numFinish++;
    }
    %>
    <!-- <div> <%= occurrence.progress %></div> -->
    <% }); %>

      <% let lengthOccurences=habit.occurrences.length; %>
        <div class="info-box">
          <div class="total"><i class="fa-solid fa-chart-simple custom-size">
              <p>
                <%= lengthOccurences * habit.goalTarget %> 
              </p>
            </i>

          </div>
          <div class="total"><i class="fa-regular fa-circle-check custom-size">
              <p>
                <%= habit.occurrences.length %>
              </p>
            </i>

          </div>
          <div class="total"><i class="fa-solid fa-chart-line custom-size">
              <p>
                <%= totalProgress %>
              </p>
            </i>

          </div class="total">
          <div class="total"><i class="fa-solid fa-list-check custom-size">
              <p>
                <%= numFinish %>
              </p>
            </i>

          </div>
        </div>


        <div id="data" data-total-finish="<%= totalProgress %>" data-total-habits=" <%= lengthOccurences 
    * habit.goalTarget
    %>"></div>
        <button onclick="window.location.href = '/v1/record'">Back to Home</button>
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
            const dataDiv = document.getElementById('data');
            const totalFinish = parseInt(dataDiv.getAttribute('data-total-finish'));
            const totalHabits = parseInt(dataDiv.getAttribute('data-total-habits'));
            const remainingHabits = totalHabits - totalFinish;

            const ctx = document.getElementById('habitChart').getContext('2d');

            const data = {
              labels: ['Thói quen hoàn thành', 'Thói quen chưa hoàn thành'],
              datasets: [{
                label: 'Hoàn Thành Thói Quen',
                data: [totalFinish, remainingHabits],
                backgroundColor: ['#36a2eb', '#ff6384'],
                hoverBackgroundColor: ['#36a2eb', '#ff6384']
              }]
            };

            const config = {
              type: 'pie',
              data: data,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'Biểu Đồ Hoàn Thành Thói Quen'
                  },
                  datalabels: {
                    formatter: (value, context) => {

                      return value;
                    },
                    color: '#fff',
                  }
                }
              },
              plugins: [ChartDataLabels],
            };

            const habitChart = new Chart(ctx, config);
          });
        </script>
</body>

</html>