<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/record_page.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>

<body>
  <div class="menu">
    <div class="btn">
      <button onclick="window.location.href = '/v1/home'"><i class="fa-solid fa-house custom-size"></i></button>
      <button onclick="window.location.href = '/v1/habit/create'"><i class="fa-solid fa-plus custom-size"></i></button>
      <button onclick="window.location.href = '/v1/record'"><i class="fa-solid fa-file custom-size"></i></button>
      <button onclick="window.location.href = '/v1/user/profile'"><i class="fa-solid fa-gear custom-size"></i></button>

    </div>
  </div>
  <div>
    <h1>Overall</h1>
    <div id="chartContainer">
      <canvas id="habitChart"></canvas>
    </div>
    <div class="ok">
      <h2>Total completions: <%= totalFinish %>/<%= totalHabits%>
      </h2>
      <table class="total_habit">
        <tbody>
          <% habits.forEach(habit=> { %>
            <tr>
              <td>
                <%= habit.name %>
              </td>
              <td>
                <button onclick="window.location.href = '/v1/record/recordDetailHabit?habit_id=<%= habit._id %>'">
                  <i class="fa-solid fa-calendar-days"></i>
                </button>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="data" data-total-finish="<%= totalFinish %>" data-total-habits="<%= totalHabits %>"></div>
  <button onclick="window.location.href = '/v1/home'">Back to Home</button>


  <script>
    function viewHabit() {
      const select = document.getElementById('habitSelect');
      const habitUrl = select.options[select.selectedIndex].value;
      window.location.href = habitUrl;
    }
    document.addEventListener('DOMContentLoaded', (event) => {
      const dataDiv = document.getElementById('data');
      const totalFinish = parseInt(dataDiv.getAttribute('data-total-finish'));
      const totalHabits = parseInt(dataDiv.getAttribute('data-total-habits'));
      const remainingHabits = totalHabits - totalFinish;

      const ctx = document.getElementById('habitChart').getContext('2d');

      const data = {
        labels: ['Completed Habit', 'Incomplete Habit'],
        datasets: [{
          label: 'Habit Completion',
          data: [totalFinish, remainingHabits],
          backgroundColor: ['#36a2eb', '#ff6384'],
          hoverBackgroundColor: ['#36a2eb', '#ff6384']
        }]
      };

      const config = {
        type: 'pie',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Biểu Đồ Hoàn Thành Thói Quen'
            },
            datalabels: {
              formatter: (value, context) => {
                const total = context.chart.data.datasets[0].data.reduce((a, b) => a + b, 0);
                const percentage = (value / total * 100).toFixed(2) + '%';
                return percentage;
              },
              color: '#fff',
            }
          }
        },
        plugins: [ChartDataLabels],
      };

      const habitChart = new Chart(ctx, config);
    });
  </script>
</body>

</html>